{% extends 'admin.html.twig' %}

{% block title %}Administration des produits{% endblock %}

{% block body %}

<h1 class="mt-4">Gestion des produits</h1>

<a href="{{ path('adminProductsAdd')}}" class="btn btn-success">Ajouter un produit</a>
                     
<div class="container-fluid mt-4">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th>Produit</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité vendue</th>
                <th>Administration</th>
            </tr>
        </thead>
                
        {% for produit in allProducts %}
            <tr>
                <td class="font-weight-bold">{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.getQuantiteVendu() }}</td>
                <td>
                    <a href="{{ path('adminProductsEdit', {id: produit.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('adminProductsDelete', {id: produit.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
    
{% endblock %}