{% extends 'events.html.twig' %}

{% block title %}Evénement {{ evenement.id }}{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">{{ evenement.nom }} - {{ evenement.id }}</h1>
    <hr class="my-4">
    <div>
        <div class="container my-4">
            <img src="/assets/image/evenements/{{evenement.filename}}" class="card-img-top" alt="image de l'événement">
        </div>
        <h1>Description de l'événement</h1>
        <p>{{ evenement.description }}</p>
    </div>
    <hr class="my-4">
    <div>
        <h1>Informations</h1>
        <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
        <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
        <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p>
        <p><span class="font-weight-bold">Nombre de participants :</span> {{ evenement.participant | length }}</p>
    </div>
        <hr class="my-4">
        <div>
            <div class="row">
                <div class="col-9">
                    {% if app.user %}
                        <a href="{{ path('evenementsRegisterId', {id: evenement.id}) }}" class="btn btn-success">M'inscrire</a>
                    {% endif %}
                    {% if is_granted('ROLE_CESI') %}
                    <a href="{{ path('evenementsReportId', {id: evenement.id}) }}" class="btn btn-danger">Signaler</a>
                    <a href="{{ path('evenementsDownloadPDF', {id: evenement.id}) }}" class="btn btn-danger">Télécharger en PDF</a>
                    <a href="{{ path('evenementsDownloadCSV', {id: evenement.id}) }}" class="btn btn-danger">Télécharger en CSV</a>
                    {% endif %}
                </div>
                <div class="col-3">
                    {% if is_granted('ROLE_BDE') %}
                        <a href="{{ path('adminEventsEdit', {id: evenement.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('adminEventsDelete', {id: evenement.id}) }}" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    <hr class="my-4">
    <div>
        <h1>Participants ({{ evenement.participants | length }})</h1>
        <div class="col">
            {% for participant in evenement.participants %}
                <div class="card">
                    <div class="card-body">
                        <p>{{ participant.nom }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="my-4">
    <div>
        <h1>Photos de l'événement ({{ evenement.images | length }})</h1>
        {% for images in evenement.images %}
        <div class="card" style="width: 18rem;">
            <img src="/assets/image/photos/{{ images.filename }}" class="card-img mt-2" alt="{{ images.description }}">
            <div class="card-body">
                <p class="card-text">Le {{ images.getDateEdit()|date("d M Y")}} à {{ images.getDateEdit()|date("G")}}h{{ images.getDateEdit()|date("i")}}</p>
            </div>
            <div class="mb-4">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{images.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Commentaires</a>
                <a href="{{ path('evenementsReportId', {id: images.id}) }}" class="btn btn-danger ml-4">Signaler</a>
            </div>
            <div>
                Nombre de likes : {{ images.vote | length }}
            </div>
                {% if app.user %}
                    <a href="{{ path('image_like', {id: images.id}) }}" class="btn btn-info">Like</a>
                {% endif %}
        </div>
        {% endfor %}
        <div class="my-4">
            {% if app.user %}
            {{ form_start(imageForm) }}
            <div class="row">
                <div class="col-4">
                    {{ form_row(imageForm.imageFile) }}
                </div>
                <div class="col-8">
                    {{ form_row(imageForm.Description) }}
                </div>
                <button type="submit" class="btn btn-primary">Poster</button>
            </div>
            {{ form_end(imageForm) }}
            {% else %}
            <p class="mt-4 font-weight-bold">Connectez vous pour pouvoir poster une photo</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}