{% extends 'events.html.twig' %}

{% block title %}Evénements{% endblock %}

{% block body %}

<div class="container-fluid" style="background-color: #5c88da;">
    <h1 class="text-center font-weight-bold py-4">Nos événements prévus ce mois-ci</h1>
</div>

<div class="container">
    <div class="row">
        {% set id = 0 %}
        {% for evenement in monthlyEvents %}
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 m-4">
            <img src="/assets/image/evenements/{{ evenement.filename }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ evenement.nom }}</h5>
            <p class="card-text">{{ evenement.description }}</p>
            <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
            <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
            <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p> 
            <p><span class="font-weight-bold">Nombre de participants :</span> {{ nombreParticipants[id][0]['COUNT(participant)'] }}</p>                   
                <div>
                    <a class="btn btn-primary" href="{{ path('evenementId', {id: evenement.id}) }}">Informations</a>
                </div>
            </div>
        </div>
        {% set id = id + 1 %}
        {% endfor %}
    </div>
</div>

{% endblock %}