{% extends 'events.html.twig' %}

{% block title %}Evénements - Accueil{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid" style="background-color: #5c88da;">
    <div class="container">
        <h1 class="display-4">Evénements du BDE !</h1>
        <p class="lead">Notre BDE organise de nombreux événements, chaque élève peut s'y inscrire, réagir et poster des photos. <br/> 
        Vous pouvez également poster vos idées, n'hésitez pas !</p>
        <hr class="my-4">
        <p>Retrouvez tous les événements directement en cliquant sur le lien.</p>
        <p class="lead">
        <a class="btn btn-dark btn-lg" href="{{ path('evenementsAll') }}" role="button">Tous les événements</a>
        </p>
    </div>
</div>

<div class="container" style="background-color: #92b8fb;">
    <h1 class="display-4">Prochains événements</h1>
    <p class="lead">Notre BDE organise de nombreux événements, chaque élève peut s'y inscrire, réagir et poster des photos. <br/> 
    Vous pouvez également poster vos idées, n'hésitez pas !</p>
    <div class="row">
        {% for evenement in upcommingEvents %}
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 m-4">
            <img src="/assets/image/evenements/{{ evenement.filename }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ evenement.nom }}</h5>
            <p class="card-text">{{ evenement.description }}</p>
            <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
            <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
            <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p>  
            <p><span class="font-weight-bold">Nombre de participants :</span> {{ evenement.participants | length }}</p>              
                <div>
                    <a class="btn btn-primary" href="{{ path('evenementId', {id: evenement.id}) }}">Informations</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr class="my-4">
    <p>Accédez à tous les événements du mois en cliquant sur le lien</p>
    <p class="lead">
    <a class="btn btn-dark btn-lg" href="{{ path('evenementsMois') }}" role="button">Evénements ce mois-ci</a>
    </p>
</div>

<div class="container">
    <h1 class="display-4">Derniers événements</h1>
    <p class="lead">Notre BDE organise de nombreux événements, chaque élève peut s'y inscrire, réagir et poster des photos. <br/> 
    Vous pouvez également poster vos idées, n'hésitez pas !</p>
    <div class="row">
        {% for evenement in latestEvents %}
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 m-4">
            <img src="/assets/image/evenements/{{ evenement.filename }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ evenement.nom }}</h5>
            <p class="card-text">{{ evenement.description }}</p>
            <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
            <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
            <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p> 
            <p><span class="font-weight-bold">Nombre de participants :</span> {{ evenement.participants | length }}</p>               
                <div>
                    <a class="btn btn-primary" href="{{ path('evenementId', {id: evenement.id}) }}">Informations</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr class="my-4">
    <p>Retrouvez tous les événements directement en cliquant sur le lien.</p>
    <p class="lead">
    <a class="btn btn-dark btn-lg" href="{{ path('evenementsAll') }}" role="button">Tous les événements</a>
    </p>
</div>

{% endblock %}