{% extends 'events.html.twig' %}

{% block title %}Evénements{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">{{ evenement.nom }} - {{ evenement.id }}</h1>
    <hr class="my-4">
    <div>
        <h1>Description de l'événement</h1>
        <p>{{ evenement.description }}</p>
    </div>
    <hr class="my-4">
    <div>
        <h1>Informations</h1>
        <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
        <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
        <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p>
    </div>
    <hr class="my-4">
    <div>
        <button class="btn btn-success" type="submit">M'inscrire</button>
        <button class="btn btn-primary" type="submit">Ajouter une photo</button>
        <button class="btn btn-primary" type="submit">Commenter</button>
    </div>
    <hr class="my-4">
    <div>
        <h1>Photos de l'événement</h1>
    </div>
    <hr class="my-4">
    <div>
        <h1>Commentaires</h1>
    </div>
</div>

{% endblock %}