{% extends 'events.html.twig' %}

{% block title %}Evénement {{ evenement.id }}{% endblock %}

{% block body %}

{% set participe = '' %}

<div class="jumbotron">
    <h1 class="display-4">{{ evenement.nom }} - {{ evenement.id }}</h1>
    <hr class="my-4">
    <div>
        <div class="container my-4">
            <img src="/assets/image/evenements/{{evenement.filename}}" class="card-img-top" alt="image de l'événement">
        </div>
        <h1>Description de l'événement</h1>
        <p>{{ evenement.description }}</p>
    </div>
    <hr class="my-4">
    <div>
        <h1>Informations</h1>
        <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
        <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
        <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p>
        <p><span class="font-weight-bold">Nombre de participants :</span> {{ nombreParticipants[0]['COUNT(participant)'] }}</p>
    </div>
        <hr class="my-4">
        <div>
            <div class="row">
                <div class="col-9">
                    {% if app.user and evenement.date > now %}
                    {# {% if app.user %} #}
                        <a href="{{ path('evenementsRegisterId', {id: evenement.id}) }}" class="btn btn-success">M'inscrire</a>
                    {% endif %}
                    {% if is_granted('ROLE_CESI') %}
                        <a href="{{ path('evenementsReportId', {id: evenement.id}) }}" class="btn btn-danger">Signaler</a>
                    {% endif %}
                    {% if is_granted('ROLE_BDE') %}
                        <a href="{{ path('evenementsDownloadPDF', {id: evenement.id}) }}" class="btn btn-danger">Télécharger en PDF</a>
                        <a href="{{ path('evenementsDownloadCSVId', {id: evenement.id}) }}" class="btn btn-danger">Télécharger en CSV</a>
                    {% endif %}
                </div>
                <div class="col-3">
                    {% if is_granted('ROLE_BDE') %}
                        <a href="{{ path('adminEventsEdit', {id: evenement.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('adminEventsDelete', {id: evenement.id}) }}" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    <hr class="my-4">
    <div>
        <h1>Participants ({{ nombreParticipants[0]['COUNT(participant)'] }})</h1>
        <div class="card-deck my-4">
            {% for participant in participants %}
                {% if participant.participant == utilisateurParticipant %}
                    {% set participe = true %}
                {% else %}
                    {% set participe = false %}
                {% endif %}
                <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2">
                    <div class="card-body">
                        <p class="text-center font-weight-bold">{{ participant.participant }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="my-4">
    <div>
        <h1 class="my-4">Photos de l'événement ({{ evenement.images | length }})</h1>
        {% for images in evenement.images %}
        <div class="card" style="width: 18rem;">
            <img src="/assets/image/photos/{{ images.filename }}" class="card-img-top" alt="{{ images.description }}">
            <div class="card-body">
                <p class="card-text">Le {{ images.getDateEdit()|date("d M Y")}} à {{ images.getDateEdit()|date("G")}}h{{ images.getDateEdit()|date("i")}}</p>
            </div>
            <div class="mb-4">
                    <a class="btn btn-primary ml-4" data-toggle="collapse" href="#collapseExample{{images.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Commentaires</a>
                {% if is_granted('ROLE_CESI') %}
                    <a href="{{ path('evenementsReportId', {id: images.id}) }}" class="btn btn-danger ml-4">Signaler</a>
                {% endif %}
            </div>
            <div class="collapse" id="collapseExample{{images.id}}">
                    <div class="container">
                        <div class="card card-body">
                            {% set nombreCommentaires = 0 %}
                            {% for commentaire in images.commentaire %}
                                {% if commentaire.visible == 1 %}
                                    {% set nombreCommentaires = nombreCommentaires + 1 %}
                                {% endif %}
                            {% endfor %}
                            <h5>{{ nombreCommentaires }} Commentaires</h5>
                            <div class ="comment">
                                {% for commentaire in images.commentaire %}
                                {% if commentaire.visible == 1 %}
                                <div class="row my-2">
                                    <div class="col-3">
                                    <span class="font-weight-bold">{{ commentaire.auteur }}</span> (<small>{{commentaire.date | date('d/m/Y à H:i')}}</small>)
                                    </div>
                                    <div class="col">
                                    {{commentaire.contenu | raw}}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% if app.user %}
                            <a href="{{ path('photosId', {id: images.id}) }}" class="btn btn-success m-2">Ajouter un commentaire</a>
                        {% endif %}
                    </div>
                </div>
                <div class="mx-2">
                    <h5>{{ images.vote | length }} Likes</h5>
                </div>
                {% if app.user %}
                    <a href="{{ path('image_like', {id: images.id}) }}" class="btn btn-info">Like</a>
                {% endif %}
        </div>
        {% endfor %}
        <div class="my-4">
            {% if app.user and participe == true and evenement.date < now  %}
            <h5>Ajouter une image</h5>
            {{ form_start(imageForm) }}
            <div class="row">
                <div class="col-4">
                    {{ form_row(imageForm.imageFile) }}
                </div>
                <div class="col-6">
                    {{ form_row(imageForm.Description) }}
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Poster</button>
                </div>
            </div>
            {{ form_end(imageForm) }}
            {% elseif app.user and participe == false %}
            <p class="mt-4 font-weight-bold">Vous n'avez pas participé à cet évènement</p>
            {% else %}
            <p class="mt-4 font-weight-bold">Connectez vous pour pouvoir poster une photo</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}