{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}

<div class="container-fluid" style="background-color: #7c685c;">
    <h1 class="text-center font-weight-bold py-4">Mon panier</h1>
</div>

<div class="container-fluid">

    {% if items | length > 0 %}
        <table class="table table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td> {{ item.produit.nom }} </td>
                        <td class="font-weight-bold"> {{ item.produit.prix }} €</td>
                        <td> {{ item.quantity }} </td>
                        <td> {{ item.produit.prix * item.quantity }} €</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.produit.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right font-weight-bold">Total :</td>
                    <td class="font-weight-bold">{{ total }} €</td>
                </tr>
            </tfoot>
        </table>
        </br>
        <div>
            <a class="btn btn-primary mb-4" href="{{ path('cart_command') }}">Commander</a>
        </div>
    {% else %}
    <p>Surprise, c'est vide !</p>
    {% endif %}
</div>

{% endblock %}