{% extends 'shop.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

<div class="jumbotron"style="background-color: #aadfc1;">
    <div class="media">
        <img src="/assets/image/produits/{{ produit.filename }}" alt="{{ produit.description }}">
        <div class="media-body">
            <h1 class="display-4">{{ produit.nom }}</h1>
            <hr class="mr-4">
            <h2>Informations sur le produit :</h2>
            <br/><p>{{ produit.description }} <span class="badge badge-pill badge-secondary">En stock</span></p>
            <h3>Prix : {{ produit.prix }} €</h3><br/>
            <div>
                {% if app.user %}
                    <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                    <p class="mt-4 font-weight-bold">Connectez vous pour pouvoir acheter cet article</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}