{% extends 'shop.html.twig' %}

{% block title %}Nos habits{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.minPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-end">
                <div class="rol">
                    {{ form_row(form.bestSales) }}
                </div>
                <div class="rol">
                    {{ form_row(form.ascPrice) }}
                </div>
                <div class="rol">
                    {{ form_row(form.descPrice) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container-fluid my-4">
        <h1>Nos habits</h1>
        <div class="row">
            {% for produit in clothes %}
                <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2 m-4">
                    <br/><img src="/assets/image/produits/{{ produit.filename }}" class="card-img-top" alt="{{ produit.description }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ produit.nom }}</h4>
                        <p class="card-text"> {{ produit.description }}</p>
                        <p class="card-text"><small class="text-muted">Prix : {{ produit.prix }}€</small></p>
                        <div>
                            <a class="btn btn-primary" href="{{ path('boutique/ID', {ID: produit.id, slug: produit.slug}) }}">Voir le produit</a>
                        </div>
                        </br>
                        {% if app.user %}
                        <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-success">
                                Ajouter au panier
                        </a>
                        {% else %}
                        <a href="#" class="btn btn-danger">
                                Se connecter
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}