{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if cookie == false %}
        <div data-toggle="modal" data-target="#exampleModal"></div>
    {% endif %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 font-weight-bold">BDE CESI Strasbourg</h1>
      <p class="lead">Ouais ouais ouais</p>
    </div>
</div>

<div class="container my-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 font-weight-bold">Présentation</h1>
          <p class="lead">Ouais ouais ouais</p>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="jumbotron jumbotron-fluid" style="background-color: #5c88da;">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Evénements</h1>
                <p class="lead">Ouais ouais ouais</p>
                <hr class="my-4">
                <div class="row">
                  {% for evenement in upcommingEvents %}
                  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 m-4">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                      <h5 class="card-title">{{ evenement.nom }}</h5>
                      <p class="card-text">{{ evenement.description }}</p>
                      <p class="card-text"><small class="text-muted">Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</small></p>
                        <div>
                          <a class="btn btn-primary" href="{{ path('evenementId', {id: evenement.id}) }}">Informations</a>
                        </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron jumbotron-fluid" style="background-color: #00a490">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Boutique</h1>
                <p class="lead">Retrouvez tous vos produits préférés à l'image du BDE !<br/>
                Voici nos trois produits les plus vendus : </p>
                <hr class="my-4">
                <div class="card-deck">
                    {% for produit in bestProducts %}
                    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 m-4">
                        <br/><img src="" class="card-img-top" alt="{{ produit.description }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <p class="card-text">Retrouvez ce produit et bien d'autres sur notre boutique. </p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron jumbotron-fluid" style="background-color: #ea7600">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Photos</h1>
                <p class="lead">Ouais ouais ouais</p>
                <hr class="my-4">
                <div class="card-deck">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron jumbotron-fluid" style="background-color: #b5bd00">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Boîte à idée</h1>
                <p class="lead">Ouais ouais ouais</p>
                <hr class="my-4">
                <div class="card-deck">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 font-weight-bold">Nos partenaires</h1>
      <p class="lead">Ouais ouais ouais</p>
    </div>
</div>

{% endblock %}