{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid" style="background-color: #7c685c;">
  <div class="row">
      <div class="col-3 text-center">
          <img src="/assets/image/logo.png" alt="Logo du BDE">
      </div>
      <div class="col-9">
          <div class="container">
              <h1 class="display-4 font-weight-bold">BDE CESI Strasbourg</h1>
              <p class="lead">En naviguant sur ce site, vous acceptez la présence de cookies. <br/>
                  Pour en savoir plus sur vos droits et données personnelles, cliquez sur le bouton ci dessous. <br/>
              </p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Cookie">
                  Cookies
              </button>
          </div>
      </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="Cookie">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Informations sur les cookies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>En naviguant sur ce site, vous acceptez la présence de cookies. <br/>
                    Pour en savoir plus sur vos droits et données personnelles, vous pouvez consulter nos informations relatives aux cookies
                    en cliquant sur le bouton "Plus d'informations" ci dessous. <br/>
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="{{ path('legislation') }}">Plus d'informations</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="myButton">Accepter et fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-image: url(assets/image/cesi.jpeg);">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 font-weight-bold">Présentation</h1>
            <br/><p>Bienvenue sur le site du <strong>BDE Strasbourg !</strong> <br/>
                <br/>Ce site représente le campus ainsi que les <strong>élèves de CESI École d'ingénieurs Strasbourg</strong>. Il est accessible à toutes les formations <strong>(Informatique, BTP...)</strong>. <br/>
                Connectez vous via votre compte pour bénéficier de toutes les fonctionnalités du site !
            </p>
        </div>
        <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Découvrir</a>
        <div class="collapse" id="collapseExample">
            <div class="jumbotron my-4">
                <div>
                    <h1>Notre programme</h1>
                    <br/><p>Le but du BDE de Strasbourg est de créer <strong>une vie de campus</strong>, en organisant des <strong>événements</strong> permettant de rassembler les <strong>étudiants</strong>.
                    Ces événements, organisés par nos <strong>associations</strong>, permettent de partager nos passions tout en donnant une visibilité à l'école. <br/>
                    Nous travaillons avec les associations afin de vous proposer toujours plus d'événements divers autours de thématiques diverses et variées.<br/></p>
                </div>
                <div>
                    <br/><h1>Nos objectifs</h1>
                    <br/><p>Nous espérons que ce site donnera une <strong>meilleure visibilité</strong> ainsi qu'une meilleure communication aux événements.
                    Nous attendons également vos retours afin de proposer des événements originaux et qui vous plaisent. <br/>
                        N'hésitez pas à poster vos <strong>photos d'événements</strong> passés et/ou à les commenter afin de partager votre expérience avec le campus de Strasbourg !<br/>
                        <br/>De plus, nous mettons régulièrement la <strong>boutique</strong> à jour, en essayant de vous proposer les prix les plus attractifs possibles. N'hésitez pas à aller la voir régulièrement !</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="jumbotron jumbotron-fluid" style="background-color: #5c88da;">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Evénements</h1>
                <p class="lead">L'association BDE CESI Strasbourg organise de nombreux événements que vous pourrez retrouver sur le site, chaque membre possédant un compte peut s'y inscrire. Une fois l'événement passé, les membres peuvent également poster des photos sur les événements et les commenter.</p>
                <div>
                    <a class="btn btn-dark" href="{{ path('evenements') }}">Lien vers les événements</a>
                </div>
                <hr class="my-4">
                <div class="row">
                  {% for evenement in upcommingEvents %}
                  <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 m-4">
                      <img src="/assets/image/evenements/{{ evenement.filename }}" class="card-img-top" alt="...">
                      <div class="card-body">
                      <h5 class="card-title">{{ evenement.nom }}</h5>
                      <p class="card-text">{{ evenement.description }}</p>
                      <p class="card-text"><small class="text-muted">Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</small></p>
                        <div>
                          <a class="btn btn-primary" href="{{ path('evenementId', {id: evenement.id}) }}">Informations</a>
                        </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron jumbotron-fluid" style="background-color: #00a490">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Boutique</h1>
                <p class="lead">Retrouvez tous vos produits préférés à l'image du BDE !<br/>
                Voici nos trois produits les plus vendus : </p>
                <div>
                  <a class="btn btn-dark" href="{{ path('boutique/accueil') }}">Lien vers la boutique</a>
                </div>
                <hr class="my-4">
                <div class="card-deck">
                    {% for produit in bestProducts %}
                    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 m-4">
                      <img src="/assets/image/produits/{{ produit.filename }}" class="card-img-top" alt="{{ produit.description }}">
                      <div class="card-body">
                        <h5 class="card-title">{{ produit.nom }}</h5>
                        <p class="card-text">Retrouvez ce produit et bien d'autres sur notre boutique. </p>
                          <div>
                            <a class="btn btn-primary" href="{{ path('boutique/ID', {ID: produit.id, slug: produit.slug}) }}">Lien vers le produit</a>
                          </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron jumbotron-fluid" style="background-color: #ea7600">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Photos</h1>
                <p class="lead">Retrouvez toutes les photos de nos événements directement dans la galerie, vous pourrez également les commenter et liker dès que vous êtes connecté !</p>
                  <div>
                    <a class="btn btn-dark" href="{{ path('photos') }}">Lien vers la galerie photos</a>
                  </div>
                <hr class="my-4">
                <div class="card-deck">
                    {% for image in latestImages %}
                    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 m-4">
                        <img src="/assets/image/photos/{{ image.filename }}" class="card-img-top" alt="{{ image.description }}">
                        <div class="card-footer text-muted">
                            <p class="text-dark">Le {{ image.getDateEdit()|date("d M Y")}} à {{ image.getDateEdit()|date("G")}}h{{ image.getDateEdit()|date("i")}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="jumbotron jumbotron-fluid" style="background-color: #b5bd00">
              <div class="container">
                <h1 class="display-4 font-weight-bold">Boîte à idée</h1>
                <p class="lead">Work in Progress</p>
                <hr class="my-4">
                <div class="card-deck">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 font-weight-bold">Nos partenaires</h1>
      <div class="card-deck my-4">
          
    </div>
</div>

{% endblock %}