{% extends 'shop.html.twig' %}

{% block title %}Nos réductions{% endblock %}

{% block body %}

    <div class="container-fluid my-4">
        <h1>Nos réductions</h1>
        <div class="row">
            {% for produit in reductions %}
                <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-2 m-4">
                    <img src="{{ produit.getImageChemin() }}" class="card-img-top" alt="{{ produit.description }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ produit.nom }}</h4>
                        <p class="card-text"> {{ produit.description }}</p>
                        <p class="card-text"><small class="text-muted">Prix : {{ produit.prix }}€</small></p>
                        <div>
                            <a class="btn btn-primary" href="{{ path('boutique/accueil') }}">Plus d'infos</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}