{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid" style="background-color: #ea7600;">
    <div class="container">
        <h1 class="display-4">Photos de nos événements</h1>
        <p class="lead">Notre BDE organise de nombreux événements et chaque élève ayant participé peut poster des photos, vous retrouverez toutes celles-ci sur cette page.</p>
    </div>
</div>

<div class="container-fluid my-4">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
            {% for image in allImages %}
            <div class="card m-4">
                <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="card-img mt-2" alt="{{ image.description }}" style="width: 100%; height: auto;">
                <div class="card-body">
                    <p class="card-text">Le {{ image.getDateEdit()|date("d M Y")}} à {{ image.getDateEdit()|date("G")}}h{{ image.getDateEdit()|date("i")}}</p>
                </div>
                <div class="container">
                    <div class="mb-4">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{image.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Commentaires</a>
                        <a href="{{ path('photosReportId', {id: image.id}) }}" class="btn btn-danger ml-4">Signaler</a>
                    </div>
                </div>
                <div class="collapse" id="collapseExample{{image.id}}">
                    <div class="container">
                        <div class="card card-body">
                            <h5>{{ image.commentaire | length }} Commentaires</h5>
                            <div class ="comment my-2">
                                {% for commentaire in image.commentaire %}
                                <div class="row">
                                    <div class="col-3">
                                    (<small>{{commentaire.date | date('d/m/Y à H:i')}}</small>)
                                    </div>
                                    <div class="col">
                                    {{commentaire.contenu | raw}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if app.user %}
                        {{ form_start(commentaireForm) }}
                            {{ form_rest(commentaireForm) }}
                        <button type="submit" class="btn btn-succes">Commenter</button>
                        {{ form_end(commentaireForm) }}
                        {% else %}
                        <p>Connectez vous pour pouvoir poster un commentaire</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</div>

{% endblock %}