{% extends 'base.html.twig' %}

{% block title %}Image {{ image.id }}{% endblock %}

{% block body %}

<div class="container-fluid my-4">
            <div class="card m-4">
                <div class="row">
                    <div class="col-6">
                        <div class="container my-3">
                            <img src="/assets/image/photos/{{image.filename}}" alt="{{ image.description }}" style="width: 100%; height: auto;">
                        </div>
                        <div class="card-body">
                            <p class="card-text"><span class="font-weight-bold">Date de publication : </span>Le {{ image.getDateEdit()|date("d M Y")}} à {{ image.getDateEdit()|date("G")}}h{{ image.getDateEdit()|date("i")}}</p>
                            <p class="card-text"><span class="font-weight-bold">Description de l'image : </span> {{ image.description }}</p>
                            {% if not app.user %}
                            <p class="card-text"><span class="font-weight-bold">Nombre de likes : </span>{{ image.vote | length }}
                            {% endif %}
                        </div>
                        <div class="container">
                            <div class="mb-4">
                                {% if app.user %}
                                <a href="{{ path('image_like', {id: image.id}) }}" class="btn btn-info mr-4">Likes : {{ image.vote | length }}</a>
                                {% endif %}
                                {% if is_granted('ROLE_CESI') %}
                                    <a href="{{ path('photosReportId', {id: image.id}) }}" class="btn btn-danger ml-4">Signaler</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="container my-3">
                            <div class="card card-body">
                                {% set nombreCommentaires = 0 %}
                                {% for commentaire in image.commentaire %}
                                    {% if commentaire.visible == 1 %}
                                        {% set nombreCommentaires = nombreCommentaires + 1 %}
                                    {% endif %}
                                {% endfor %}
                                <h5>{{ nombreCommentaires }} Commentaires</h5>
                                <div class ="comment">
                                    {% for commentaire in image.commentaire %}
                                    {% if commentaire.visible == 1 %}
                                    <div class="row my-4">
                                        <div class="col-3">
                                            <span class="font-weight-bold">{{ commentaire.auteur }}</span> (<small>{{commentaire.date | date('d/m/Y à H:i')}}</small>)
                                        </div>
                                        <div class="col-6">
                                        {{commentaire.contenu}}
                                        </div>
                                        <div class="col-3">
                                            <a href="{{ path('commentsReportId', {id: commentaire.id}) }}" class="btn btn-danger ml-4">Signaler</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="m-4">
                                {% if app.user %}
                                {{ form_start(form) }}
                                    {{ form_rest(form) }}
                                <button type="submit" class="btn btn-success">Commenter</button>
                                {{ form_end(form) }}
                                {% else %}
                                <p>Connectez vous pour pouvoir poster un commentaire</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock %}