{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="container-fluid" style="background-color: #7c685c;">
    <h1 class="text-center font-weight-bold py-4">Profil utilisateur : {{ username }}</h1>
</div>

<div class="container-fluid">
    <table class="table table-striped text-center" style="background-color: #ad9a91;">
        <thead class="thead-dark">
            <tr>
                <th>Identifiant</th>
                <th>Adresse mail</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Nom d'utilisateur</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ id }}</td>
                <td>{{ mail }}</td>
                <td>{{ nom }}</td>
                <td>{{ prenom }}</td>
                <td>{{ username }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container-fluid" style="background-color: #7c685c;">
    <h1 class="text-center font-weight-bold py-4">Mon panier</h1>
</div>

<div class="container-fluid">
        {% if items | length > 0 %}
        <table class="table table-striped text-center" style="background-color: #ad9a91;">
            <thead class="thead-dark">
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td> {{ item.produit.nom }} </td>
                        <td> {{ item.produit.prix }} €</td>
                        <td> {{ item.quantity }} </td>
                        <td> {{ item.produit.prix * item.quantity }} € </td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.produit.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right font-weight-bold">Total :</td>
                    <td class="font-weight-bold"> {{ total }} €</td>
                </tr>
            </tfoot>
        </table>
        </br>
        <div>
            <a class="btn btn-dark mb-4 mr-4" href="{{ path('cart_command') }}">Commander</a>
            <a class="btn btn-dark mb-4 mr-4" href="{{ path('boutique/accueil') }}">Retourner à la boutique</a>
        </div>
    {% else %}
    <div class="container-fluid" style="background-color: #ad9a91;">
        <h5 class="text-center font-weight-bold py-4">Votre panier est vide</h5>
    </div>    
    {% endif %}
</div>

<div class="container-fluid" style="background-color: #7c685c;">
    <h1 class="text-center font-weight-bold py-4">Les événements auxquels je suis inscrit</h1>
</div>
    
<div class="container-fluid" style="background-color: #ad9a91;">
    <div class="container">
        <h3 class="text-center font-weight-bold">Mes prochains événéments</h3>
    </div>
    <div class="row">
        {% for evenement in myNextEvents %}
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 m-4">
            <img src="/assets/image/evenements/{{ evenement.filename }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ evenement.nom }}</h5>
                <p class="card-text">{{ evenement.description }}</p>
                <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
                <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
                <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p> 
                <p><span class="font-weight-bold">Nombre de participants :</span> {{ nombreParticipants[evenement.id - 1][0]['COUNT(participant)'] }}</p>                   
                <div>
                    <a class="btn btn-primary" href="{{ path('evenementId', {id: evenement.id}) }}">Informations</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
<div class="container-fluid" style="background-color: #ad9a91;">
    <div class="container">
        <h3 class="text-center font-weight-bold">Les événéments auxquels j'ai participé</h3>
    </div>
    <div class="row">
        {% for evenement in myPreviousEvents %}
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 m-4">
            <img src="/assets/image/evenements/{{ evenement.filename }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ evenement.nom }}</h5>
                <p class="card-text">{{ evenement.description }}</p>
                <p><span class="font-weight-bold">Prix de l'événement :</span> {{ evenement.prix }} €</p>
                <p><span class="font-weight-bold">Date de l'événement :</span> Le {{ evenement.date|date("d M Y")}} à {{ evenement.date|date("G")}}h{{ evenement.date|date("i")}}</p>
                <p><span class="font-weight-bold">Type d'événement :</span> {{ evenement.statut }}</p> 
                <p><span class="font-weight-bold">Nombre de participants :</span> {{ nombreParticipants[evenement.id - 1][0]['COUNT(participant)'] }}</p>                   
                <div>
                    <a class="btn btn-primary" href="{{ path('evenementId', {id: evenement.id}) }}">Informations</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <a class="btn btn-dark mb-4 mr-4" href="{{ path('evenements') }}">Retourner aux événements</a>
    </div>
</div>

{% endblock %}